body {
	padding-top: 50px;
	padding-left: 50px;
}
ul {
	list-style: none;
	padding-left: 0;
}
ul li {
	border: 1px solid #000;
	border-radius: 5px;
	display: block;
	margin-bottom: 20px;
	padding: 5px;
	position: relative;
	text-align: center;
	width: 300px;
}
ul li h4 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}
.fa {
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 5px;
}
#add-item {
	display: block;
	width: 100px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #fff;
	height: 40px;
	line-height: 40px;
	background-color: #0086CD;
	border: 1px solid #fff;
	border-radius: 5px;
	cursor: pointer;
}
#add-item:hover {
	background-color: #fff;
	border: 1px solid #0086CD;
	color: #0086CD;
}
